.liens-bleu10n {font: normal 10px "Tahoma", Arial, sans-serif;color: #003366;text-decoration: underline;}
a.liens-bleu10n:hover {font: normal 10px "Tahoma", Arial, sans-serif;color: #003366;text-decoration: underline;}

.liensbleu10b {
font: bold 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: underline;
}
.liensbleu10b:hover {
font: bold 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: underline;}

.texte-bleu10n {font: normal 10px Arial, sans-serif;color: #ffffff !important;}
.texte-bleu11n {font: normal 11px Arial, sans-serif;color: #003366;}
#texte-bleu12n {font: normal 12px Arial, Helvetica, sans-serif;color: #003366; height:20px;}

#titre-Jour{ width: 36px; height:25px;
font: normal 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none;
}

#titre-comment{ width: 140px; height:25px;
font: normal 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none;
}
#titre-action{ width: 42px; height:25px;
font: normal 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none;
}


#titre-buttom{ width: 15px; height:15px;
font: normal 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none;
}

.x1 { background-color:#FFfff0;font: normal 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none; text-align:right; }
.titre1 { 	COLOR: #182E88 ; FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;  background-color:#FFfff0; }
.x2 { background-color:#FFffff; font: normal 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none; text-align:right; }
 .titre2 { 	COLOR: #000000 ; FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle; }
#titre-projets{ 
width: 271px; height:25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
#titre-taches{ 
width: 270px; height:25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
#ligne{ 
width: 100%; height:30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	
}
#titre-fiche{ width: 100%; height:40px;
Padding:0px 0px 0px 0px;
font: bold 15px "Tahoma", Arial, sans-serif;color: #CC0000;text-decoration: none;
vertical-align:middle;

}

.txte-bleu10b {
font: bold 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none;
}

.txte-bleu10b {
font: bold 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none;
}


.txte-bleu11b {
font: bold 11px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none;
}
.txte-gris10b {
font: bold 10px "Tahoma", Arial, sans-serif;color: #666666;text-decoration: none;
}

.txte-rouge10b {
font: bold 10px "Tahoma", Arial, sans-serif;color: #cc0000;text-decoration: none;
}
.txte-rouge11b {
font: bold 11px "Tahoma", Arial, sans-serif;color: #cc0000;text-decoration: none;
}

.input-liste
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 220px;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}

.input-comment
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 140px;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}


.input-projects
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 270px;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
.input-liste-courte
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 80px;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
.input-liste-collab
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 150px;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
.bouton{
width:20px;
height:20px;
background-image:url(../images/valider.gif);
background-color:#003399;


	border-style:none;  CURSOR: hand
}
.bouton_afficher{
width:70px;
height:20px;
background-image:url(../images/afficher.gif);
background-color:#EFEFEF;
vertical-align:bottom;
	border-style:none;  CURSOR: hand;
}
.bouton_annuler{
width:20px;
height:20px;
background-image:url(../images/annuler.gif);
background-color:#003399;
	border-style:none;  CURSOR: hand
}
.bouton_supprimer{
width:20px;
height:20px;
background-image:url(../images/supprimer.gif);
background-color:#003399;
	border-style:none;  CURSOR: hand
}

.liens-bleu10n {font: normal 10px "Tahoma", Arial, sans-serif;color: #ffffff;text-decoration: underline; vertical-align:middle;}
a.liens-bleu10n:hover {font: normal 10px "Tahoma", Arial, sans-serif;color: #ffffff !important;text-decoration: none;}

.txt
{
	COLOR: #274F7A ;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
.input-tache
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 270px;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
.input-long
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 350px;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
.input-jour
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 23px;
	FONT: 10px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	text-align:right;
}

.style-rapport
{
	COLOR: #000000 ;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;

}
.style-rapport-v
{
	COLOR: #FFFFFF ;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;

}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	vertical-align:middle;
}
.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.txt-noir11n {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
}
.txt-blanc10n {
FONT-WEIGHT: normal ;FONT-SIZE: 10px;COLOR: #ffffff; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif;
}
.titre-rouge14b {
FONT-WEIGHT: bold ;FONT-SIZE: 14px;COLOR: #930505; FONT-FAMILY: Verdana;
}
.input
{
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	BORDER-LEFT: #666666 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #666666 1px solid;
	height: 15px;
	width: 120px;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}

.liens-bleu10b {font: bold 11px "Tahoma", Arial, sans-serif;color: #333333;text-decoration: none; vertical-align:middle;}
a.liens-bleu10b:hover {font: bold 11px "Tahoma", Arial, sans-serif;color: #666666;text-decoration: underline;}
.input-annee
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 70px;
	FONT: 11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
#width-avan { width:70px; height:20px; text-align:center; font: bold 11px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none; vertical-align:middle;
 }
 #width-proj { width:230px; 
 }
 #width-sous-task { width:350px; 
 }
 .tumevoispas{display: none;}  /*cacher LES SOUS TITRES */
.tumevois{display: block;}     /*Afficher LES SOUS TITRES */
.hiid {
display:none;


 }
#div_td {
}
#div_rap_activite {
width:100%; height:25px;
background-color:#EFEFEF;
BORDER-RIGHT: #bbbbbb 1px solid;
BORDER-TOP: #bbbbbb 1px solid;
BORDER-LEFT: #bbbbbb 1px solid;
BORDER-BOTTOM: #bbbbbb 1px solid;

}
.input-valid
{
	BORDER-RIGHT: #9284CA 1px solid;
	BORDER-TOP: #9284CA 1px solid;
	BORDER-LEFT: #9284CA 1px solid;
	COLOR: #274F7A ;
	BORDER-BOTTOM: #9284CA 1px solid;
	height: 15px;
	width: 100px;
	FONT: 10px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
#id_validation
{
width: 200px; height:25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
#id_task
{
width: 350px; height:25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
#id_project
{
width: 420px; height:25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
#id_collab
{
width: 150px; height:25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
#id_valideur
{
width: 110px; height:25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.buttonImg {
width: 60px;
height: 20px;
border: none;
cursor: pointer;
vertical-align:middle;
background: url("../images/bouton_afficher.gif") no-repeat left top;
}
.buttonExcelImg {
width: 120px;
height: 20px;
border: none;
cursor: pointer;
vertical-align:middle;
background: url("../images/bouton_exporter_excel.gif") no-repeat left top;
}
.cellule {

	cursor: pointer;
font: normal 10px "Tahoma", Arial, sans-serif;color: #182E88;text-decoration: none; text-align:right;	
}

div#info {
	text-align: center;
	font-size: 8pt;
}

div#erreur {
	color: #F00;
	text-align: center;
	font-weight: bold;
}