<link href="../style/style.css" rel="stylesheet" type="text/css">
<link href="../style/global.css" rel="stylesheet" type="text/css" />
<TABLE cellSpacing="0" cellPadding="1" width="100%" align="center" 
            bgColor="#bbbbbb" border="0" height="100%">
              <TBODY>
              <TR>
                <TD vAlign="top" width="100%" colSpan="2" height="100%">
                  <TABLE cellSpacing="0" cellPadding="4" width="100%" 
                  bgColor="#ffffff" border="0" height="100%">
                    <TBODY>
                    <TR>
                      <TD vAlign="top" width="180%" bgColor="#f0f0f0" height="100%">
                        <TABLE cellSpacing="0" cellPadding="0" width="100%" height="100%">
                          <TBODY>
                          <TR>
                            <TD vAlign="top" width="80%" bgColor="#f0f0f0" align="left" class="txt-noir11n"><H3 class=pagetitle><font color="#990000">Help</font></H3>
                              <p class="txt-noir11n">Jira webfish est une application Web accessible par tous les collaborateurs quelque soit le lieu d&rsquo;ex&eacute;cution de  leur mission et qui refl&egrave;te plus pr&eacute;cis&eacute;ment l&rsquo;&eacute;tat l&rsquo;activit&eacute; projet.</p>
                              <p class="txt-noir11n"><span class="txte-rouge11b">Contexte :</span><br />
                                Pour le suivi de son activité projet, B&D TN utilise actuellement l’outil JIRA. <br />
                                JIRA contient les informations suivantes :
                              
                              <ul class="txt-noir11n"><li>
La liste des collaborateurs avec leur login et mot de passe</li>
<li>La liste des projets</li>
<li>La liste des taches et sous-tache par projets</li>
<li>L’affectation des tâches et sous-tâches à chaque collaborateur</li></ul>
Pour éviter les redondances et la saisie multiple d’information, l’application WebFish de se baser principalement sur les informations stockées dans la base de données de JIRA.<br />  
<br />
<br />
<span class="txte-rouge11b">Connexion :</span><br />
Le connexion à WebFish se fera moyennant une connexion sécurisée par login et mot de passe.
Règles de gestions
R0.  La fenêtre de connexion doit reprendre la charte graphique de JIRA
R1. Uniquement les utilisateurs enregistrés dans JIRA sont susceptibles de se connecter à WebFISH. Si l’utilisateur n’est pas enregistré ou si le login et/ou le mot de passe sont incorrects, le message suivant doit s’afficher : L’utilisateur et/ou le mot de passe sont incorrects. Veuillez réessayez.
</p>                             </TD>
                          </TR>
                          <TR valign="bottom">
                            <TD vAlign="top" bgColor="#f0f0f0" align="left"><div align = 'right'><a href='javascript:window.close()' class="liens-bleu10n" style="padding-bottom:4px;">Fermer</a>&nbsp;&nbsp;&nbsp;&nbsp;</div></TD>
                          </TR>
                          </TBODY></TABLE></TD>
                  </TBODY></TABLE></TD></TR></TBODY></TABLE>

